*{
	margin:0;
	padding:0;
	font-family: 'Nunito', sans-serif;
	scroll-behavior: smooth;
}
header{
	position:fixed;
	display:flex;
	width:100%;
	height:80px;
	background-color:#111;
	padding-top:5px;
	padding-left:30px;
	align-items:center;
	justify-content:space-between;
	z-index:1;
	transition:0.5s;
}
header img{
	height:65px;
	width:65px;
}
header .navbar{
	display:flex;
	position:relative;
	left:-126px;
}
header .navbar li{
	list-style:none;
	margin-left:30px;
}
header .navbar li a{
	text-decoration:none;
	color:#fff;
	padding:2px 4px;
	font-size:20px;
	transition:0.5s;
	padding:2px 4px;
	border-radius:100%;
}
header .navbar li a:hover{
	background-color:#ff0157;
}
/*-----Home Section-----*/

.banner{
	position:relative;
	top:80px;
	width:100%;
	height:500px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-image:url('Images/bg.jpg');
	background-size:cover;
}
.banner .content{
	width:1100px;
	text-align:center;
}
.banner .content h2{
	font-size:75px;
	color:#fff;
}
.banner .content p{
	font-size:1.5rem;
	color:#fff;
	font-weight: 1000;
}
.btn{
	transition:0.5s;
	font-size:20px;
	color:#fff;
	background:#ff0257;
	display:inline-block;
	padding:10px 30px;
	margin-top:20px;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:1px;
}
.btn:hover{
	letter-spacing:10px;
}
/*-------About Section-------*/
.title{
	font-size:35px;
	font-weight:300;
	top:1000px;
}
.title span{
	color:#ff0157;
	font-size:45px;
}
.row{
	top:100px;
	position:relative;
	width:100%;
	display:flex;
	justify-content:space-evenly;
}
.row .col{
	position:relative;
	width:480px;
	margin:50px 50px;
}
.row .col .box{
	position:relative;
	height:100%;
	width:100%;
}
.row .col .box img{
	position:absolute;
	width:100%;
	height:300px;
	object-fit: cover;
}
.justify{
	color:#111;
}
/*-------Menu Section-------*/

.inner-menu{
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	margin-top:100px;
}
.menu .content{
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top:40px;
}
.menu .content .inner-1{
    width:340px;
    margin: 20px 18px;
    border:15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.menu .content .inner-1 .box{
	position:relative;
	width:100%;
	height:300px;
}
.menu .content .inner-1 .box img{
	position:absolute;
	height:100%;
	width:100%;
	background-size:cover;
	transition:0.5s;
}
.menu .content .inner-1 .box img:hover{
	opacity:0.5;
	cursor:pointer;
}
.text h3{
	text-align:center;
}
/*--------Expert Section-------*/

.expert .content{
	display:flex;
	justify-content:center;
	align-items:center;
}
.expert .content .inner-1{
	width:340px;
    margin:20px;
    border:15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.expert .content .inner-1 .box{
	position:relative;
	width:100%;
	height:300px;
}
.expert .content .inner-1 .box img{
	position:absolute;
	width:100%;
	height:100%;
	background-size:cover;
	transition:0.5s;
}
/*--------Testimonials Section-------*/
.testimonials{
	margin-top:40px;
	background:url('Images/bg2.jpg');
	background-size:cover;
}
.white .title,p{
    color:#fff;
    font-weight: 700;   
}
.testimonials .content{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap: wrap;
}
.testimonials .content .inner-1{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 340px;
    margin: 30px;
    padding: 40px;
    background: #fff;
}
.testimonials .content .inner-1 .box{
	position: relative;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    overflow: hidden;
}
.testimonials .content .inner-1 .box img{
	position: absolute;
    width:100%;
    height: 100%;
    background-size: cover;
    transition: 0.5s;
}
.content .text p{
    color: black;
    font-style: italic;
    padding: 2px;
    font-weight: 200;
}
.testimonials .content .text h3{
    color:#ff0157;
    margin-top: 15px;
}
/*------Contact Section-------*/\

/*.contact{
    background: url('Images/bg3.jpg') no-repeat center center/cover;
}
.contact-form{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 50px;
}
.contact-form h3{
    color: #111;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
.contact-form .inputbox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contact-form .inputbox input,textarea{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contact-form .inputbox input[type="submit"]
{
	font-size: 20px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	max-width: 100px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	background-color: #ff0157;
	color: #fff;
}*/
.contact{
    background: url('Images/dotbike.jpg')/* no-repeat center center/cover;*/
	bsckground-size:cover;
}
.contact-form{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 50px;
}
.contact-form h3{
    color: #111;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
.contact-form .inputbox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contact-form .inputbox input,textarea{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contact-form .inputbox input[type="submit"]
{
font-size: 20px;
display: inline-block;
text-transform: uppercase;
letter-spacing: 2px;
max-width: 100px;
font-weight: 500;
border: none;
cursor: pointer;
/* transition: 0.5s; */
background-color: #ff0157;
color: #fff;

}

/* ------Footer------ */
.copyright{
    padding: 8px 30px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 5px;

}
.copyright p{
    color: #333;
}
.copyright a{
    color: #ff0157;
    text-decoration: none;
    font-weight: bold;
}